<div class="wrapper">
    <mat-card class="error-card">
        <mat-card-header>
            <mat-card-title>요청하신 페이지를 찾을 수 없습니다.</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="align-content: center;">
                페이지 주소가 잘못되었거나 <br>
                찾으려는 페이지의 주소가 삭제되었거나 변경되어 사용할 수 없습니다.<br>
                입력한 주소가 정확한지 다시 한 번 확인해주시기 바랍니다. <br>
                감사합니다. <br>
                

            </p>
        </mat-card-content>
    </mat-card>

</div>